<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 0; /* Remover qualquer padding no topo */
            margin-top: 0;  /* Remover qualquer margem no topo */
        }
        .table th, .table td {
            text-align: center;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sistema de Estoque</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lista_produtos') }}">Ver Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cria_produto') }}">Adicionar Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">Lista de Produtos</h1>
        <div class="mb-3">
            <a href="{{ url_for('cria_produto') }}" class="btn btn-primary">Adicionar Produto</a>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.categoria }}</td>
                    <td>R$ {{ "%.2f"|format(produto.preco) }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>
                        <a href="{{ url_for('atualiza_produto', id=produto.id) }}" class="btn btn-sm btn-secondary">Editar</a>
                        <a href="{{ url_for('remove_produto', id=produto.id) }}" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este produto?');">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
